@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<p>
    Anderson Internet Solutions was originated to provide affordable and reliable internet solutions to meet the needs of today's fast paced, ever changing home and business environment. Anderson Internet Solutions provides web site solutions, so you can get your site up and running right away. Contact us today so that we can meet your internet needs.
</p>
