@{
    ViewBag.Title = "AIS ~ Solutions";
}

<h2>Solutions</h2>
<div class="rightImage roundSmall">
    <img src="/images/laptop1.jpg" alt="" id="img1" runat="server" />
    <p>We connect you <br />to the "Internet".</p>
</div>
<p>The best web site design can be hampered by inadequate servers and connections to the web, Anderson Internet Solutions will place your site on a reliable server anticipating growth and complexity demands. </p>
<div class="section">
    <h3>Web Sites</h3>
    <p>The appearance of your web page is as important as its features and functionality, your page should express the personality and type of company you are. A web page is your id to the world, some companys may choose a more traditional advertising approach while others are opting for a contemporary look and feel with animated graphics and sound and video. Whatever the face that you want to present to the world Anderson Internet Solutions Can help to design and coordinate the Visual aspect of your site, from plain text to dancing bears, our staff can provide Graphics, Logos, High Quality Visual Impact Material to help you Market your company to the world. </p>
    <p>A web page is your ID to the world, some may choose a more traditional advertising approach while others are opting for a contemporary look and feel with flash presentations or video streaming. Whatever the face that you want to present to the world Anderson Internet Solutions will help to design and coordinate the visual aspect of your site.</p>
    <p>Web Site development means more than putting up a page and giving you an address on the web, although you may start that way, the future of the economy and possibly your company is on the Web. Web Site development is the ability to plan and execute an evolving web presence suited to your companys needs with an eye toward growth, security, reliability and functionality. Anderson Internet Solutions Can work with your staff to develop a plan of action for the web, we can help you avoid the pitfalls of poor planning by providing you with a low up front cost solution utilizing Servers capable of rapid growth and the ability to implement today's most effective features. </p>
    <p>
        The failure of many companys to update their web sites results in lost revenue, broken links, references to dated material, stale design, all these things come into play when a web site is neglected. Anderson Internet Solutions Can design and implement a regular update schedule, working with your staff we will recommend periodical maintenance to the web site. Usage will be closely monitored and reported to you on a timely basis, this enhances the ability to anticipate growth or measure the results of an ad campaign
        Fill out the our Form and mention free consultation, a representative will contact you by your preferred method Custom to your needs. No matter how small your need. Anderson Internet Solutions Can help you get on the web, using your design or one of our standard home pages. Anderson Internet Solutions Can lend a professional flair to your personal site. Reasonable rates and good advise are the keys to our personal pages program. Each design will be different and require a different amount of time for each site.
    </p>
    <ul>
        <li>We leverage Microsoft's .NET framework, to provide rich and reliable web sites.</li>
        <li>We provide site templates to get you up and running instantly.</li>
        <li>We provide a content manager so you don't need to be a web designer or web developer to publish your content.</li>
        <li>Our many years of experience assure you that you will get the support you need. </li>
    </ul>
    <div class="rightImage roundSmall">
        <img src="/images/laptop6.jpg" alt="" id="img2" runat="server" />
        <p>We expedite the <br />design process</p>
    </div>
    <a name="threesteps"></a>
</div>
<div class="section">
    <h3>We can make it easy with steps 1, 2 and 3</h3>
    <p>Putting your site on the web can be a confusing process if you are just getting started, but we are here to help. Just follow these 3 easy steps and you can have your site online in minutes. </p>
    <ul>
        <ol>
            <li>
                <span>
                    Get a domain name (web address):
                    A domain name is the name of your website, which is generally prefaced by http://www, where the www is not always necessary and end with a .com, .net, .biz, .us, .org, .info. Think of domain names as the phone numbers of the Internet, only YOU get to decide what it will be. All domain names are unique, so before you choose one you need to be sure that no one else is using it. <a href="http://www.networksolutions.com">Click here to get a domain name.</a>
                    When purchasing your domain, make sure you request Anderson Internet Solutions as the technical contact, so we can make your life easier and manage the settings for your domain.
                </span>
            </li>
            <li>
                <span>
                    Choose the right web hosting company:
                    Anderson Internet Solutions leverages a local hosting company with high end servers in a temperature controlled environment, that provides reliability
                    you can count on.&nbsp; Email services can be provided for your domain.
                </span>
            </li>
            <li>
                <span>
                    Choose a concept and design for your web site:
                    Anderson Internet Solutions Hosting offers assistance in getting your concept out to the world to see. Once you've established a concept for your site, AIS can help design and publish your content for all the world to see. You also may need assistance getting your site to rank high in popular search engines. AIS can get you connected to the resources for getting plenty of web traffic to your site, some of these services come bundled with our Design package.
                </span>
            </li>
        </ol>
    </ul>

</div>