
@{
    ViewBag.Title = "Support";
}
<h2>@ViewBag.Title</h2>

<div class="rightImage roundSmall">
    <img src="/images/laptop4.jpg" alt="" />
    <p>We make it easy <br />for you to manage <br />your content.</p>
</div>
<p>Once you establish a Website with Anderson Internet Solutions, you will be given access to your site through a content manager, which will allow you to manage the content on your site without having to worry about messing around with the layout and theme of your site this allows you to concentrate on the content you are presenting as opposed to trying to learn to be a web developer. </p>
<a name="internet"></a>
<h3>Understanding the Internet</h3>
<p>The Internet is a collection of millions of websites connected together. Each website is assigned a unique URL commonly referred to as a domain name.</p>
<a name="domain"></a>
<h3>Understanding domain names</h3>
<p>A domain name is the name of your website. It is generally prefaced by http://www and ends with ".com". Think of domain names as the phone numbers of the Internet, only YOU get to decide what it will be. It is how people will contact, or reach your website by typing it into the address bar in their browser. For example, Anderson Internet Solutions owns the domain name "andersonis.net" which is our unique URL. If a user types "www.andersonis.net" in a browser, our website will appear. Domain names also allow you to personalize your email addresses by ordering email such as "sales@yourdomainname.com". All domain names are unique, so before you choose one you need to be sure that no one else is using it. </p>
<a name="website"></a>
<h3>Understanding websites</h3>
<p>Every piece of data that is on the Internet is stored on a server somewhere in the world. Servers are the storage containers of the Internet. A website is a collection of files that are stored on one of these web servers. When someone sends a request to view a website's content (by typing the domain name in the address bar) they are sending a request to the computer storing the website's content: its web server. Since that computer is connected to the Internet, it is able to receive the request and send the visitor the files they want to see. In order to respond to these requests, a computer must be built with significant power and software. Additionally, these computers need an extremely fast connection to the Internet. It can be expensive and time consuming to maintain this type of computer.</p>
<a name="join"></a>
<h3>Becoming part of the Internet</h3>
<p>In order to place your website on the Internet, you must have a web server to store your files on. Building a website and not having a web server is like buying a phone without installing a phone line. Some people choose to purchase a web server themselves, but the cost of purchasing and maintaining a web server can be very expensive. Therefore, most people decide to rent space on someone else’s server through a web host. Anderson Internet Solutions can help you decide what is right for you, we have access to hundreds of servers that people rent space on in order to place their site on the Internet.</p>
<a name="choose"></a>
<h3>Choosing a web server</h3>
<p>There are two main types of web servers: shared and dedicated.  A shared hosting server is one in which there are many clients sharing the same web server. A dedicated hosting server, however, is dedicated to only one client.</p>
<a name="shared"></a>
<h3>Shared servers</h3>
<p>A shared hosting server, as explained above, is one in which there are many clients sharing the same web server. Shared servers are available for a fraction of the cost of dedicated servers and are used mainly for email and as a means of distributing data by such methods as the web (HTTP), FTP, or streaming audio or video. Shared servers are an excellent solution for entry-level hosting needs as they provide a reliable web presence to those who may not have extensive technical resources. Since many sites share the server, extremely high traffic sites may drain server resources and not function properly in this environment. Therefore, if your site will be generating thousand of visitors each day, a dedicated server environment is probably best. Additionally, shared servers typically support the most common software, but if there is a special application you need to run, you will most probably need the flexibility of a dedicated server.</p>
<a name="dedicated"></a>
<h3>Dedicated servers</h3>
<p>A dedicated hosting server, as explained above, is fully dedicated to the needs of one customer and is designed to accommodate mid- to advanced-level hosting needs. Since there is no sharing of resources with other customers, dedicated servers are able to handle sites that are heavily data-driven and high-traffic. Dedicated servers can also support advanced ecommerce programs, video streaming, and multimedia programs. Dedicated server response time depends exclusively on the volume of activity on the client's website(s) as opposed to shared servers, whose response times are reliant on other sites' activities. Dedicated servers give clients the flexibility to download unique, custom software programs. </p>
<a name="promote"></a>
<h3>Promoting your website</h3>
<p>After you have your website online, you'll want to ensure that people are able to find it. One important step you can take is to submit your site to search engines. The majority of website traffic originates from search engines. Submitting your site to major search engines such as Google is a good way to get traffic flowing to your site. Anderson Internet Solutions offers many site services, including search engine submission. </p>
<a name="protect"></a>
<h3>Protecting your website</h3>
<p>More and more people connect to the Internet each day, which is causing destructive viruses and worms to spread more quickly. These viruses cost businesses millions each year. Before picking a host, you will want to ensure that you are protected. Anderson Internet Solutions utilizes protected servers. </p>
<a name="maintain"></a>
<h3>Maintaining your website</h3>
<p>Anderson Internet Solutions provides a content manager so you don't need to be a web designer or web developer to publish your content.</p>